
<%= render 'show_user_bio_modal' %>

<div class="container main-content">
  <div class="well col-md-10 col-md-offset-1" >
    <%= render 'home/list_tweets'%>
  </div>
</div>

<%= render 'tweet_javascript_template' %>