<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'pgHumor', root_path, {class: 'navbar-brand', id: 'title'} %>
    </div>
  </div>
</div>